@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:wght@400;500;600&display=swap');


*{
    box-sizing:border-box;
}


body{

    margin:0;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;


    background:
    linear-gradient(
        135deg,
        #b8ddf5,
        #d9efff,
        #a8d4f0,
        #a9bed2
    );


    font-family:"Cormorant Garamond", serif;

}





.container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}





/* صفحه اول */


.intro{

    text-align:center;

    background:rgba(255,255,255,.55);

    padding:40px 60px;

    border-radius:20px;

    box-shadow:
    0 15px 40px rgba(60,120,160,.15);

}





/* پاکت */


.mail{

    position:relative;

    width:75px;

    height:55px;

    margin:auto;

    background:#f8fbff;

    border:2px solid #a9c9df;

    border-radius:8px;

    overflow:hidden;

    box-shadow:
    0 8px 15px rgba(80,120,150,.15);

}



.paper{

    position:absolute;

    width:45px;

    height:35px;

    background:#fffdf8;

    left:13px;

    top:15px;

    border-radius:3px;

}



.mail:before{

    content:"";

    position:absolute;

    width:55px;

    height:55px;

    background:#d5eaf7;

    transform:rotate(45deg);

    top:-35px;

    left:10px;

}





.seal{

    position:absolute;

    right:-8px;

    bottom:-8px;

    width:27px;

    height:27px;

    border-radius:50%;

    background:#f3bfd0;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:13
